body, *, html {
  padding: 0 !important;
  margin: 0 !important;
}

body {
  overflow: hidden !important;
}

#overlay, .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#overlay, #inputVideo {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.preview {
  width: 1340px;
  padding: 0 !important;
  margin: 0 !important;
}

.hidden {
  position: absolute !important;
  visibility: hidden !important;
}

#jsDisp {
  background: rgb(36, 36, 36);
  color: white;
  font-family: monospace;
  position: absolute !important;
  top:10px;
  left:10px;
  border-radius: 5px;
  padding:5px !important;
  width:40%;
}

#jsDisp .head {
  font-weight: 700;
  display: inline-block;
  padding-right: 10px;
}

#jsDisp .cont {
  font-weight: 400;
  display: inline-block;
}

p {
  margin: 0;
  word-wrap: break-word;
}

html,
body {
  height: 100%;
  margin: 0;
}
#c {
  width: 100%;
  height: 100%;
  display: block;
  position:absolute;
  top:0;
  left:0;
}